
<!-- - - - - - User personal and account info - - - - - -->
<div class="panel panel-default my-p-panel">
  <div class="panel-body">
    <div class="row">
<!-- Left personal info panel -->
      <div class="col-xs-2">
        <%= image_tag(current_user.avatar.url(:small), class: "img-thumbnail") %>
      </div>
<!-- Center personal info panel -->
      <div class="col-xs-3">
        <div class="panel panel-default profile">
          <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
            <strong>Username</strong><br />
            <%= current_user.username %><br />
            <strong>Name</strong><br />
            <%= current_user.first_name %> <%= current_user.last_name %><br />
            <strong>Location</strong><br />
            <%= current_user.location %>
          </div>
        </div>
      </div>
<!-- Right personal info panel -->

      <div class="col-xs-7">
        <div class="panel panel-default profile">
          <div class="panel-heading">
            <h3 class="panel-title">Bio</h3>
          </div>
          <div class="panel-body">
            <%= current_user.bio %>
          </div>
        </div>
      </div>
    </div> <!-- Row -->
  </div>
</div>

<div class="row">

<!-- Left Column -->
  <div class="col-md-6">

<!-- - - - - - - - - - - User Goals - - - - - - - - - -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My <%= current_user.goals.count %> Current Goals</h3>
  </div>
  <div class="panel-body">
       <%= week_calendar events: @goals do |date, goals| %>
      <%= date.day %>
      <% goals.each do |goal|%>
      <% unless goal.completed? %>
      <br />
      <%= goal.name %><br />
      <%= link_to 'DONE!', complete_goal_path(goal), method: :patch, class:"btn btn-primary btn-xs" %>
      <% end %>
      <% end %>
      <% end %>
      <%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
      </div>
    </div>

<!-- - - - - - - - - Completed Goals - - - - - - - - -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My Completed Goals</h3>
      </div>
      <div class="panel-body">
         <% @goals.each do |goal|%>
      <% if goal.completed? %>
      <br />
      <%= goal.name %><br />
      <%=goal.completed_at.strftime("%D") %>
      <%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>

      <% end %>
      <% end %>
      </div>
    </div>

  </div> <!-- Left Column End -->

<!-- Right Column -->
  <div class="col-md-6">

<!-- - - - - - - - - - New Goals Form - - - - - - - - - -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Goal</h3>
      </div>
      <div class="panel-body">
        <%= render 'goals/form' %>
      </div>
    </div>

<!-- - - - - - - - - - - - Friends - - - - - - - - - - - -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Friends</h3>
      </div>
      <div class="panel-body">
        <%= current_user.relationships.count %> friends I follow.<br />
        <%= current_user.inverse_relationships.count %> follow me.
      </div>
    </div>

  </div> <!-- Right Column End -->
</div>
