<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment_entry, class: "sr-only" %><br>
    <%= f.text_area :comment_entry, class: "form-control", placeholder: "comment", rows: 5 %>
  </div>
  <div class="field cant-see-me">
    <%= f.number_field :goal_id, value: @goal.id %>
    <%= f.number_field :user_id, value: current_user.id %>
  </div><br />

  <div class="actions">
    <%= f.submit class: "btn btn-default btn-sm btn-block"%>
  </div>
<% end %>
