<p id="notice"><%= notice %></p>

    <h1 class="title">All Goals</h1>

  <div class="row">
<!-- Left Column -->
  <div class="col-xs-8">
    <% @goals.each do |goal| %>
    <% if goal.completed? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strike>Goal name: <%= goal.name %></strike> <%= goal.user.username %> has accomplished this goal!</h3>
        </div>
        <div class="panel-body">

          <%= image_tag(goal.user.avatar.url(:navpic)) %> <%= goal.description %>
          <% if current_user.id == goal.user.id %>
            <%= link_to 'Edit', edit_goal_path(goal), class: "btn btn-primary btn-xs" %>
            <%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= goal.user.username %>’s <%= link_to 'Goal', goal, class: "btn btn-default btn-xs" %>
        </div>
      </div>
       <%else%>
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Goal name: </strong><%= goal.name %></h3>
        </div>
        <div class="panel-body">
          <%= image_tag(goal.user.avatar.url(:navpic)) %> <%= goal.description %>
          <% if current_user.id == goal.user.id %>
          <%= link_to 'I DID IT!', complete_goal_path(goal), method: :patch , class: "btn btn-success btn-xs"%>
            <%= link_to 'Edit', edit_goal_path(goal), class: "btn btn-primary btn-xs" %>
            <%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-xs"%>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= goal.user.username %>’s <%= link_to 'Goal', goal , class: "btn btn-default btn-xs"%>
        </div>
      </div>
    <% end %>
    <%end%>
    <%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
  </div>

<!-- Right Column -->
  <div class="col-xs-4">
    <%= render 'leaders' %>
  </div>
</div>
