<p id="notice"><%= notice %></p>

<div class="row">
<!-- Left Column -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Goal Name: </strong><%= @goal.name %></h3>
      </div>
      <div class="panel-body">
        <%= @goal.description %>
      </div>
      <div class="panel-footer">
        <strong>User: </strong>
        <%= @goal.user.username %>
      </div>
    </div>
  </div>
<!-- Right Column -->
  <div class="col-md-6">
    <div>
      <%= render 'comments/form' %>
    </div>
    <br />

    <% @goal.comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong><%= comment.user.username %></strong> said: </h3>
        </div>
        <div class="panel-body">
          <%= comment.comment_entry %>
        </div>
      </div>
    <% end %>

  </div>
</div> <!-- row -->


<%= link_to 'Back', goals_path %>
