<p id="notice"><%= notice %></p>

<div>
<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user.username %>
</p>
<%= link_to 'Edit', edit_goal_path(@goal) %>
</div>

<div>
  <%= render 'comments/form' %>
</div>

<div>

<h4>Comments</h4>
<% @goal.comments.each do |comment| %>
<p><strong><%= comment.user.username %></strong> said: </p>
<p><%= comment.comment_entry %></p>
<% end %>
</div>

<%= link_to 'Back', goals_path %>
